/* GENERALES*/
div.tabbar .tabs li a { padding:5px 7px}
.tabContent 	{ min-height:400px; _height:400px;}
.box-padd 	{ padding:10px}/* separacion entre elementos*/
.barNav 		{ float:right}
.barbottom 	{ float:left; padding:10px 0}
a.butDef, input.butDef 	{ text-decoration:none; cursor:pointer}
.date 		{  color:#268721;}
.imgIco 		{ position:relative; top:3px; padding-right:3px}
.butSim 		{ cursor:pointer; text-decoration:none}
.lineBottom  { clear:both; height:5px; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #D3D3D3}
.note 		{ padding:0 5px; font-size:11px; color:#666; text-align:center}/* nota al lado campo o boton */

/* TITULO*/
.fields { margin:5px 0 0}
.fields h2 { margin-bottom:5px}
.fields h2 small { font-size:80%}
.fields h2.fleft { width:80%}
.fields .butDef { position:relative; top:10px}

/* COLUMAS */
.listDatac3 { float:left; width:33%; margin:10px 0 10px}
.listDatac3  strong { display:block; padding-bottom:5px; margin:0 20px 5px 0; color:#000; font-size:14px; border-bottom:1px solid #d3d3d3}
.listDatac3  dl { margin-right:1%}
.listDatac3 dt, .listDatac3  dd { clear:both; display:block; line-height:1.3;} 
.listDatac3  dt { font-weight:bold;}
.listDatac3 dd { padding-bottom:10px}
.listData { clear:both}
.listData dt{ clear:left; float:left; width:120px;  font-weight:bold; font-size:13px; text-align:right;}
.listData dd { position:relative; margin-left:130px;  font-size:12px}
.listData dt label {font-size:13px}
.listData dd  { margin-bottom:10px}

/* TABLE */
.uiTable th { background-position:bottom left; background-color:#52A3E8; background-repeat:repeat-x}
.uiTable th h3 { padding:8px 8px 4px; font-weight:bold; font-size:100%}
.uiTable th  span, .uiTable th  span {  display:block; border:1px solid red; z-index:10000;width:5px; height:3px; position:absolute; right:0; top:0; background:url("../img/table/sort.gif") center center no-repeat}
.uiTable th.asc  span { background:url("../img/table/asc.gif") center center no-repeat}
.uiTable th.desc  span { background:url("../img/table/desc.gif") center center no-repeat}
.uiTable td a img { display:block; margin:0 auto; text-align:center}
.uiTable td .center , .uiTable th .center, .uiTable th h3.center{ display:block; text-align:center}

/* FORMS */
.medium { width:120px; text-align:right; padding-right:10px}
.medium-f1 { width:200px; text-align:right; padding-right:10px}
.boxBut { float:left; margin:10px 0 10px 150px;}
.boxBut { float:left; margin:10px 0 10px 150px;}
.boxButfiltro{ float:left; margin:10px 0 10px 50px;}
.text { font-size:13px}
.labelMedium { float:left; display:inline-block; font-size:13px; height:22px; padding-left:10px;width:120px; text-align:right; padding-right:10px}
.labelMedium-f1 { float:left; display:inline-block; font-size:13px; height:22px; padding-left:10px;width:210px; text-align:right; padding-right:10px}
.boxRad, .boxChk { float:left; margin-left:20px; width:400px}
.sfile { float:left; width:300px; margin-left:5px}
.img { float:left; margin:0 10px 0 0;}
.imgDch { float:right; margin:10px 20px 0 0; text-align:right}
.fields p.error { padding-right:10px; background:url("../img/icons/exclamation-red.png") 0 3px no-repeat}

/* ACORDEON */
#faq { height:400px; margin-bottom:20px; overflow-y:auto;padding:5px; border:1px solid #d5d5d5}
#accordion ul li {  margin-bottom:10px}
#accordion li h3, #accordion li h4, #accordion li div { clear:both; display:block; padding:2px 5px;}
#accordion li h3 {  margin-bottom:0; color:#328d18; border-bottom:1px solid #d3d3d3; }
#accordion li h3 a { display:block; color:#328d18; font-size:16px; font-weight:bold; text-decoration:none}
#accordion li h4 { margin:10px 10px 0; padding:0 0 0 10px; font-size:14px; text-transform:none; color:#000;  font-weight:bold; }
#accordion li ul li p { margin:3px 20px; font-size:12px; font-weight:normal }
#accordion li ul { overflow-y:hidden}
/* reset ul li green.css*/
#accordion, #accordion ul { background:none; height:auto !important; padding:0}
#accordion li { float:none;}

/* CONTENIDO LIBRE */
#textWrap ul { background:none; height:auto !important; padding:10px 40px; margin:0}
#textWrap ul li { float:none; display:block; background:url("../img/bullet.gif") 0 10px no-repeat; padding-left:15px; margin-bottom:5px; font-size:12px}
		
/*  MISC STYLES */
.fleft 	{ float:left}
.fright 	{ float:right}
.center 	{ text-align:center}
.clear 	{ clear: both; }
.hide  	{ display:none !important}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height : 1%; }
.clearfix { display: block; }




.TdRojo
{
   

    color: #FC7C45;
    
}
.TdBlanco
{
    color: #ffffff;

}
.TdGris
{
   
    color: #8f9490;

}
.divmce-tinymce  {
 float:right   !important;*/

}
div .sep{
display: table !important;
}

.mce-tinymce  {
    width:500px !important;
  /*float:right   !important;*/
  margin:0 !important;
}

div#pannelDash {
background: url(http://rocheres.f2fbeta.com/controlnet/img/foto_back_roche.jpg) no-repeat center 100%;
background-color: white;
}
.filtrored
{
    color:#F00;
    font-weight:bold;
}