.toolTip {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

a.button, 
a.butDef {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#menu ol  li div.pin{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}

#menu ul li a{
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	}

#page .menu {
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
	}

#page .content  {
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	}
	
#pgmenu li a:hover,
#pgmenu li.pgmv a{
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;

	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
}

#pgmenu li ul li a:hover{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

#page .menu div.cr_pass {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	
	}

#page .menu div
{
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 23px;
    color: #134A73;
    font-weight: bold;
}

#page,
.butDef,
.butNav,
.butPage  {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}

#container	{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}
	
.sText, 
.sSelect,
.wysiwyg
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#pannelDash{ 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

#pannelDash .widget .content,
.tasks .content span {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}



#pannelDash  div.menu ul li{
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;	

	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}

.boxLogin .fields {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px; 
	border-top-right-radius: 3px;
	
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	border-bottom-right-radius: 3px;
}
	
.tabbar .tabs, 
.tabs a{
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;

	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px; 
	border-top-right-radius: 3px;
	}
	
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 0.99; }
div.wysiwyg ul.panel li a { opacity: 0.6; }