	
.boxLogin {
	width:735px;
	margin:auto;
	background:#498BBF url("../img/bk_login_ver_121.jpg") no-repeat -5px bottom;
	margin-top:250px;
	padding:0px;
}

.boxLogin  div.fields {
	float:right;
	width:360px;
	padding:20px 0 0 50px;
	height:185px;
	background:#fff url("../img/bk_login_rpx.png") repeat-x top right;
	overflow:hidden;
}

.boxLogin  .toolTip{
	width:416px;
	float:right;
}

.boxLogin  .fields p.error {
	background:transparent;
}

.fields p.rem {
	padding:10px 0 0 100px;
}

.fields p label { display:inline-block;}

.action {
	padding:20px 74px 0 0;
	text-align:right;
}

