/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url("../img/overlay/transparent-2.gif");
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay div.close {
	background-image:url("../img/overlay/close-1.gif");
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}




/* use a semi-transparent image for the overlay */
#overlay {
	background-image:url("../img/overlay/transparent-2.gif");
	color:#ff0000;
	height:450px;
}

/* use a semi-transparent image for the overlay */
#overlay1 {
	background-image:url("../img/overlay/transparent-2.gif");
	color:#ff0000;
	height:450px;
}


/* container for external content. uses vertical scrollbar, if needed */
.contentWrap {
	height:441px;
	overflow-y:auto;
}




