table.tablesorter {
	margin:0;
	width: 100%;
	text-align: left;
}
table.tablesorter thead{ position:relative; top:0px;}
table.tablesorter thead tr th{color:White; }
table.tablesorter thead tr th h3 { padding-right:1px}
table.tablesorter thead tr th span {  display:block; width:90%; padding-right:13px; background: url("../img/tablesorter/bg.gif") 100% 45% no-repeat;}
table.tablesorter thead tr .header {
	background:#52A3E8 url("../img/th_green/table/header-bg.gif") bottom left repeat-x;
	cursor: pointer;
	padding-right:5px;
}
table.tablesorter tbody tr.even td {background:#fff;}
table.tablesorter tbody tr.odd td {
	background:#f7f8f9;
}
table.tablesorter thead tr .headerSortUp, table.tablesorter thead tr .headerSortDown {background:#52A3E8 url("../img/th_green/table/header-selected-bg.gif") bottom left repeat-x;}
table.tablesorter thead tr .headerSortUp span{
	background-image: url("../img/tablesorter/asc.gif");
	background-repeat:no-repeat;
	background-position: 100% 65%;
}
table.tablesorter thead tr .headerSortDown span{
	background-image: url("../img/tablesorter/desc.gif");
	background-repeat:no-repeat;
	background-position: 100% 35%;;
}

.tdarmijo
{
	width:150px;
	text-align:center;
}
/* PAGINADOR */
.barbottom { position:relative; width:100%}
#pager { position:absolute; right:0; width:420px; top:5px !important}
#pager form { margin-top:0; }
#pager form  input { border:0; width:40px; font-size:12px; background:transparent; color:#fff}
#pager form label {  font-size:11px; padding-right:5px}
#pager form .pagesize{ border:1px solid #ccc;}


#pager1 { position:absolute; right:0; width:420px; top:5px !important}
#pager1 form { margin-top:0; }
#pager1 form  input { border:0; width:40px; font-size:12px; background:transparent; color:#fff}
#pager1 form label {  font-size:11px; padding-right:5px}
#pager1 form .pagesize{ border:1px solid #ccc;}




