/* Add here all your CSS customizations */
table tr td {
  vertical-align: top;
  padding: 5px;
}
table tr {
  border-bottom: solid 1px rgb(226, 226, 226);
}
.leyenda {
  clear: both;
  display: block;
  font-size: 12px;
  border: solid 1px;
  padding: 6px 10px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.leyenda .feature-box-icon {
  width: auto;
  display: inline;
  background: rgb(0, 136, 204);
  padding: 2px 5px;
  border-radius: 71px;
  color: white;
  margin-left: 10px;
  margin-right: 5px;
}
.definitions h5,.definitions p{
	margin: 0;
}
.description-leyend {
  display: inline-block;
}

@media (max-width: 479px){
	.leyenda {
  		width: 100%;
	}
	.description-leyend {
 	 margin: 5px;
	}
}
.toggle-content ul {
list-style: none;
margin: 0;
padding: 0;
}
.toggle-content ul li::before {
content: "\f00c";
font-family: FontAwesome;
padding-right: 5px;
}
.toggle-content ol {
padding-left: 18px;
}
.toggle-content p {
margin: 0;
}
